<link rel="stylesheet" href="https://jaquelinedamian.com.br/sites/iagor/lojamagazine/css/produtos.css">
{% include 'product-grouped' %}

  <div id='Areviewsapp' class='page-full'>{%  render 'aliexpress_reviews' , product: product %}</div>